.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 100px 156px;
}

.gallery-item {
    list-style: none;
    flex-basis: calc(33.333% - 20px);
}

.gallery-link {
    display: block;
    text-decoration: none;
}

.gallery-image {
    width: 100%;
    height: auto;
}
